{% extends ["latidoalatido/base.html.twig", "base.html.twig"] %}

{#% import "macros/lists_macros.html.twig" as listsMacros %#}
{% set added = counters.usedContents.add(content.id) %}
{% set primaryImage = content.multimedias | primary() %}
{% if primaryImage != null %}
    {% set primaryImageSizeInfo = (multimedia_domain_path ~ relative_images_url ~ primaryImage.path | optimized('article_primary')) | sizeInfo() %}
{% endif %}
{% if content.seoTitle is defined and content.seoTitle == true %}
    {% if content.pretitle is defined and content.pretitle | length > 0 %}
        {% set title = content.pretitle ~ " - " ~ content.title %}
        {% set htmlTitle = '<span class="seccion"><a href="' ~ content.section.url ~ '">' ~ content.section.name ~ '</a></span><h1 class="titulo tam38 titular" itemprop="name headline"><span class="antetitulo"><a href="">' ~ content.pretitle ~ '</a></span>' ~ content.title ~ '</h1>' | raw %}
    {% else %}
        {% set title = content.section.name ~ " - " ~ content.title %}
        {% set htmlTitle = '<h1 class="titulo tam38 titular" itemprop="name headline"><span class="seccion"><a href="' ~ content.section.url ~ '">' ~ content.section.name ~ '</a></span>' ~ content.title ~ '</h1>' | raw %}
    {% endif %}
{% else %}
    {% set title = content.title %}
    {% set htmlTitle = '<span class="seccion"><a href="' ~ content.section.url ~ '">' ~ content.section.name ~ '</a></span>' %}
    {% if content.pretitle is defined and content.pretitle | length > 0 %}
        {% set htmlTitle = htmlTitle ~ '<span class="antetitulo"><a href="">' ~ content.pretitle ~ '</a></span>' %}
    {% endif %}
    {% set htmlTitle = htmlTitle ~ '<h1 class="titulo tam38 titular" itemprop="name headline">' ~ content.title ~ '</h1>' %}
{% endif %}
{% set months = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'] %}

{% block metas %}
    <meta charset="utf-8">
    <title>{{ title }} - Latido a latido</title>
    <meta name="title" content="{{ title }} - Latido a latido">
    <meta name="description" content="{{ content.intro }}">
    <meta content="width=device-width" name="viewport">
    <meta property="og:title" content="{{ content.title }}" />
    <meta property="og:url" content="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
    {% if primaryImage != null %}
    <meta property="og:image" content="{{ multimedia_domain ~ relative_images_url ~ primaryImage.path | optimized('article_primary') }}" />
    <meta property="og:image:width" content="{{ primaryImageSizeInfo.width }}" />
    <meta property="og:image:height" content="{{ primaryImageSizeInfo.height }}" />
    {% endif %}
    <meta property="og:description" content="{{ content.intro }}" />
    <meta property="og:site_name" content="Latido a latido" />
    <meta property="og:type" content="article" />
    <meta property="og:article:published_time" content="{{ content.publishedDT.format("Y-m-d") ~ 'T' ~ content.publishedDT.format("H:i:sP") }}" />
    <meta property="og:article:modified_time" content="{{ content.updatedDT.format("Y-m-d") ~ 'T' ~ content.updatedDT.format("H:i:sP") }}" />
    <meta property="og:article:author" content="Latido a latido" />
    {% for category in content.categories %}
    <meta property="og:article:section" content="{{ category.name }}" />
    {% endfor %}
    {% for tag in content.tags %}
    <meta property="og:article:tag" content="{{ tag.name }}" />
    {% endfor %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ twitter_account_name }}">
    {% for author in content.authors %}
    {% if author.twitterAccount is defined and author.twitterAccount | length > 0 %}
    <meta name="twitter:creator" content="{{ author.twitterAccount }}" />
    {% endif %}
    {% endfor %}
    <meta name="twitter:title" content="{{ content.title }}">
    <meta name="twitter:description" content="{{ content.intro }}">
    {% if primaryImage != null %}
    <meta name="twitter:image" content="{{ multimedia_domain ~ relative_images_url ~ primaryImage.path | optimized('article_primary') }}">
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ statics_domain }}/js/nativeflashradiov3.js"></script>
{% endblock %}

{% block bodyAttributes %}class="{% block bodyClass %}{% endblock %}" id="{% block bodyId %}{% endblock %}"{% endblock %}

{% block content %}

{# <div id="flashradio" style="height:50px; width:400px;">
Native Flashradio V3
</div>
<a href="http://native.flashradio.info">READ MORE</a>
<script type="text/javascript">
    $("#flashradio").flashradio({settings: "{{ statics_domain }}/lib/flashradio.xml"});
</script> #}

{% endblock %}
