{% spaceless %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ES" prefix="og: http://ogp.me/ns#">
    <head>
        {% block metas %}{% endblock %}
        {% block stylesheet %}
        <link rel="stylesheet" type="text/css" href="{{ statics_domain }}/css/estilos.css">
        {% endblock %}
        {% block javascript %}
        <!--[if lt IE 9]>
            <script src="{{ statics_domain }}/js/html5.js"></script>
        <![endif]-->
        <script src="{{ statics_domain }}/js/jquery-1.11.1.min.js"></script>
        {% endblock %}
    </head>
    <body {% block bodyAttributes %}{% endblock %}>
        {% block preBodyElements %}
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-TLBKQD" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-TLBKQD');
        </script>
        <div class="megabanner">
            <a href="" class="creatividad"><img src="img/megabanner-alto.jpg" alt=""></a>
        </div>
        <div class="oreja izq"><a href="" class="creatividad"><img src="img/oreja-izq.jpg" alt=""></a></div>
        <div class="oreja der"><a href="" class="creatividad"><img src="img/oreja-der.jpg" alt=""></a></div>
        {% endblock %}
        {% block preHeader %}
        <div class="precabecera contenedor clear">
            <a href="" class="titulo"><strong>fanatic</strong>.futbol</a>
            <ul class="acceso">
                <li><a href="{{ path('fos_user_registration_register') }}" class="boton cuadrado blanco"><span class="icono icon icon-account-add"></span><span class="accion">Regístrate</span></a></li>
                <li><a href="{{ path('fos_user_security_login') }}" class="boton cuadrado blanco"><span class="icono icon icon-account-box"></span><span class="accion">Inicia sesión</span></a></li>
            </ul>
        </div>
        {% endblock %}
        {% block header %}
        <header class="cabecera contenedor">
            <span class="contenido clear">
            <span class="logo"><a href="{{ url("front_home") }}"><img src="{{ statics_domain }}/img/logo-blanco.png" alt="latidoalatido.com"><em>latidoalatido<small>.com</small></em></a></span>
            <span class="boton-navegacion"><span class="icon icon-menu"></span></span>
                {% block nav %}
                {{ render(controller('BloqModulesBundle:EditorialContent:navigationMenu')) }}
                {% endblock %}
            </span>
        </header>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
        <footer class="pie contenedor clear">
            {% block footerNav %}
                {{ render(controller('BloqModulesBundle:EditorialContent:footerNavigationMenu')) }}
            {% endblock %}
            <p class="col-12 pad">Todos los derechos reservados<strong>© latidoalatido.com</strong> es una marca de fanatic.futbol</p>
        </footer>
        {% endblock %}
        {% block bodyJs %}
        <script src="{{ statics_domain }}/js/cocktail.js"></script>
        <script src="{{ statics_domain }}/js/scripts.js"></script>
        {% endblock %}
    </body>
</html>
{% endspaceless %}
