{% spaceless %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ES" prefix="og: http://ogp.me/ns#">
    <head>
        {% block metas %}{% endblock %}
        {% block stylesheet %}{% endblock %}
        {% block javascript %}{% endblock %}
    </head>
    <body {% block bodyAttributes %}{% endblock %}>
        {% block preBodyElements %}{% endblock %}
        {% block preHeader %}
        <div class="precabecera contenedor clear">
            <a href="" class="titulo"><strong>fanatic</strong>.futbol</a>
            <ul class="acceso">
                <li><a href="{{ path('fos_user_registration_register') }}" class="boton cuadrado blanco"><span class="icono icon icon-account-add"></span><span class="accion">Regístrate</span></a></li>
                <li><a href="{{ path('fos_user_security_login') }}" class="boton cuadrado blanco"><span class="icono icon icon-account-box"></span><span class="accion">Inicia sesión</span></a></li>
            </ul>
        </div>
        {% endblock %}
        {% block header %}
        <header class="cabecera contenedor">
            <span class="contenido clear">
            <span class="logo"><a href="/"><img src="{{ statics_domain }}/img/logo-blanco.png" alt="latidoalatido.com"><em>latidoalatido<small>.com</small></em></a></span>
            <span class="boton-navegacion"><span class="icon icon-menu"></span></span>
                {% block nav %}
                <nav class="navegacion">
                    <a href="" class="portada">Portada</a><a href="" class="jugadores">Jugadores</a>
                    <a href="" class="futbol activo"><h1>Fútbol</h1></a>
                    <a href="" class="tecnicos">Técnicos</a>
                    <a href="" class="wags">WAGS</a>
                    <a href="" class="competiciones">Competiciones</a>
                    <a href="" class="directiva">Directiva</a>
                    <a href="" class="historia">Historia</a>
                </nav>
                {% endblock %}
            </span>
        </header>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
        <footer class="pie contenedor clear">
            <nav class="col-12 pad enlaces">
                <a href="">Portada</a>
                <a href="">Jugadores</a>
                <a href="">Técnicos</a>
                <a href="">WAGS</a>
                <a href="">Competiciones</a>
                <a href="">Directiva</a>
                <a href="">Historia</a>
            </nav>
            <p class="col-12 pad">Todos los derechos reservados<strong>© latidoalatido.com</strong> es una marca de fanatic.futbol</p>
        </footer>
        {% endblock %}
        {% block bodyJs %}
        <script src="{{ statics_domain }}/js/cocktail.js"></script>
        <script src="{{ statics_domain }}/js/scripts.js"></script>
        {% endblock %}
    </body>
</html>
{% endspaceless %}
