{% extends "cover/layout.html.twig" %}

{% block megabanner %}
<div class="megabanner">
    <script type="text/javascript" language="JavaScript">
    //sitenameDFP
    var agm_site="GRADAFAN.ES";
    //zonenameDFP
    var agm_zona="home";
    // <![CDATA[
    //Mobile
    if(screen.width<728) {
        var agm_sz="320x50,320x100";
        var agm_resolw=window.screen.availWidth;
        var agm_resolh=window.screen.availHeight;
        agm_timestamp = window.agm_timestamp || Math.floor(Math.random()*1E16);
        if (typeof(agm_interstitial)=="undefined") {var agm_interstitial="dcopt=ist;"}else{var agm_interstitial=""}
        if (typeof(agm_tilecat)=="undefined") {var agm_tilecat=1}else{agm_tilecat++}
        document.write('<scr'+'ipt language="javascript" type="text/javascript" src="http://ad.doubleclick.net/N5555/adj/'+agm_site+'/'+agm_zona+'_MOBILE;resw='+agm_resolw+';resh='+agm_resolh+';'+agm_interstitial+'tile='+agm_tilecat+';sz='+agm_sz+';ord='+agm_timestamp+'?"><\/scr'+'ipt>');
    } else if (screen.width<979 && screen.width>=728) {
        //Tablet
        var agm_sz="728x90";
        var agm_resolw=window.screen.availWidth;
        var agm_resolh=window.screen.availHeight;
        agm_timestamp = window.agm_timestamp || Math.floor(Math.random()*1E16);
        if (typeof(agm_interstitial)=="undefined") {var agm_interstitial="dcopt=ist;"}else{var agm_interstitial=""}
        if (typeof(agm_tilecat)=="undefined") {var agm_tilecat=1}else{agm_tilecat++}
        document.write('<scr'+'ipt language="javascript" type="text/javascript" src="http://ad.doubleclick.net/N5555/adj/'+agm_site+'/'+agm_zona+'_TABLET;resw='+agm_resolw+';resh='+agm_resolh+';'+agm_interstitial+'tile='+agm_tilecat+';sz='+agm_sz+';ord='+agm_timestamp+'?"><\/scr'+'ipt>');
    } else if (screen.width>980 && screen.width<=1024) {
        //Tablet Lanscape
        var agm_sz="728x90";
        var agm_resolw=window.screen.availWidth;
        var agm_resolh=window.screen.availHeight;
        agm_timestamp = window.agm_timestamp || Math.floor(Math.random()*1E16);
        if (typeof(agm_interstitial)=="undefined") {var agm_interstitial="dcopt=ist;"}else{var agm_interstitial=""}
        if (typeof(agm_tilecat)=="undefined") {var agm_tilecat=1}else{agm_tilecat++}
        document.write('<scr'+'ipt language="javascript" type="text/javascript" src="http://ad.doubleclick.net/N5555/adj/'+agm_site+'/'+agm_zona+'_TABLET;resw='+agm_resolw+';resh='+agm_resolh+';'+agm_interstitial+'tile='+agm_tilecat+';sz='+agm_sz+';ord='+agm_timestamp+'?"><\/scr'+'ipt>');
    } else {
        //Desktop
        var agm_sz="980x200,980x90,728x90";
        var agm_resolw=window.screen.availWidth;
        var agm_resolh=window.screen.availHeight;
        agm_timestamp = window.agm_timestamp || Math.floor(Math.random()*1E16);
        if (typeof(agm_interstitial)=="undefined") {var agm_interstitial="dcopt=ist;"}else{var agm_interstitial=""}
        if (typeof(agm_tilecat)=="undefined") {var agm_tilecat=1}else{agm_tilecat++}
        document.write('<scr'+'ipt language="javascript" type="text/javascript" src="http://ad.doubleclick.net/N5555/adj/'+agm_site+'/'+agm_zona+';resw='+agm_resolw+';resh='+agm_resolh+';'+agm_interstitial+'tile='+agm_tilecat+';sz='+agm_sz+';ord='+agm_timestamp+'?"><\/scr'+'ipt>');
    }
    // ]]>
    </script>
</div>
{% endblock %}

{% block zone_A1 %}
{{ render(controller('BloqModulesBundle:EditorialContent:outstandingsCarousel', { 'limit': 3, 'excludedContents': counters.usedContents })) }}
{% endblock %}

{% block zone_A2 %}
{{ render(controller('BloqModulesBundle:EditorialContent:lastPublishedListTwoCol', { 'limit': 6, 'excludedContents': counters.usedContents })) }}
{% endblock %}

{% block zone_A3 %}
{{ render(controller('BloqModulesBundle:EditorialContent:lastPublishedBySectionFullPhotoListTwoCol', {'sectionId': counters.outstandingSections.current().id, 'limit': 2, 'excludedContents': counters.usedContents })) }}
{% set nexted = counters.outstandingSections.next() %}
{% endblock %}

{% block zone_A4 %}
{{ render(controller('BloqModulesBundle:EditorialContent:lastPublishedListTwoCol', { 'limit': 6, 'excludedContents': counters.usedContents })) }}
{% endblock %}

{% block zone_A5 %}
{{ render(controller('BloqModulesBundle:EditorialContent:lastPublishedBySectionFullPhotoListTwoCol', {'sectionId': counters.outstandingSections.current().id, 'limit': 2, 'excludedContents': counters.usedContents })) }}
{% set nexted = counters.outstandingSections.next() %}
{% endblock %}
