{% extends "cover/layout.html.twig" %}

{% block metas %}
<meta charset="utf-8">
<title>Latido a latido</title>
<meta name="title" content="Latido a latido">
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
{% endblock %}

{% block analyticsDataLayer %}
<script>
    dataLayer = [{
        'Site': '{{ site_name }}',
        'Sección': '',
        'Etiqueta': '',
        'Tipo': 'Portada',
        'Autor':''
    }];
</script>
{% endblock %}

{% block megabanner %}
    <div class="megabanner">
    {{ advertisingMacros.megabanner('home') }}
    </div>
{% endblock %}

{% block robapaginas1 %}
    <div class="robapaginas">
    {{ advertisingMacros.roba('home') }}
    </div>
{% endblock %}

{% block robapaginas2 %}
    <div class="robapaginas">
    {{ advertisingMacros.roba('home') }}
    </div>
{% endblock %}

{% block zone_A1 %}
{{ render(controller('BloqModulesBundle:EditorialContent:outstandingsCarousel', { 'limit': 3, 'excludedContents': counters.usedContents })) }}
{% endblock %}

{% block zone_A2 %}
{{ render(controller('BloqModulesBundle:EditorialContent:lastPublishedListTwoCol', { 'limit': 6, 'excludedContents': counters.usedContents })) }}
{% endblock %}

{% block zone_A3 %}
{{ render(controller('BloqModulesBundle:EditorialContent:lastPublishedBySectionsFullPhotoListTwoCol', { 'counters': counters, 'limitBySection': 1, contentsLimit: 2 })) }}
{% endblock %}

{% block zone_A4 %}
{{ render(controller('BloqModulesBundle:EditorialContent:lastPublishedListTwoCol', { 'limit': 6, 'excludedContents': counters.usedContents })) }}
{% endblock %}

{% block zone_A5 %}
{{ render(controller('BloqModulesBundle:EditorialContent:lastPublishedBySectionsFullPhotoListTwoCol', { 'counters': counters, 'limitBySection': 1, contentssLimit: 2 })) }}

{#{{ render(controller('BloqModulesBundle:EditorialContent:lastPublishedBySectionFullPhotoListTwoCol', {'sectionId': counters.outstandingSections.current().id, 'limit': 2, 'excludedContents': counters.usedContents })) }}
{% set nexted = counters.outstandingSections.next() %}#}
{% endblock %}
