{% extends "base.html.twig" %}

{% block metas %}
<meta charset="utf-8">
<title>{{ section.metaTitle }} - Latido a latido</title>
<meta name="title" content="{{ section.metaTitle }} - Latido a latido">
<meta name="description" content="{{ section.description }}">
<meta name="viewport" content="width=device-width">
{% endblock %}

{% block bodyAttributes %}name="{% block bodyName %}top{% endblock %}" id="{% block bodyId %}portada{% endblock %}"{% endblock %}

{% block content %}
<main class="contenedor clear">
    <span class="col-9 clear bloque-ppal">
    {% block title %}{% endblock %}
    {% block zone_A1 %}{% endblock %}
    {% block zone_A2 %}{% endblock %}
    {% block zone_A3 %}{% endblock %}
    {% block zone_A4 %}{% endblock %}
    {% block zone_A5 %}{% endblock %}
    {% block zone_A6 %}{% endblock %}
    {% block zone_A7 %}{% endblock %}
    {% block zone_A8 %}{% endblock %}
    {% block zone_A9 %}{% endblock %}
    </span>
    <span class="col-3 pad clear {% block zone_B_class %}bloque-oficial{% endblock %}">
    {% block robapaginas1 %}
        <div class="robapaginas">
        {{ advertisingMacros.roba('resto') }}
        </div>
    {% endblock %}
    {% block zone_B1 %}{% endblock %}
    {% block zone_B2 %}{% endblock %}
    {% block robapaginas2 %}
        <div class="robapaginas">
        {{ advertisingMacros.roba('resto') }}
        </div>
    {% endblock %}
    {% block zone_B3 %}{% endblock %}
    </span>
</main>
{% endblock %}
